#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap:10px;
    grid-template-areas: 
    "img1 img2 img3 img4"
    "img5 img6 img7 img4"
    "img8 img6 img9 img10";
}
#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
/*image*/
#index-gallery .img1 {
    grid-area: img1;
    background-image: url("../images/img1.jpg");
}
#index-gallery .img2 {
    grid-area: img2;
    background-image: url("../images/img2.jpg");
}

#index-gallery .img3 {
    grid-area: img3;
    background-image: url("../images/img3.jpg");
}

#index-gallery .img4 {
    grid-area: img4;
    background-image: url("../images/img4.jpg");
    height: 610px;
}

#index-gallery .img5 {
    grid-area: img5;
    background-image: url("../images/img5.jpg");
}

#index-gallery .img6 {
    grid-area: img6;
    background-image: url("../images/img6.jpg");
    height: 610px;
}

#index-gallery .img7 {
    grid-area: img7;
    background-image: url("../images/img7.jpg");
}

#index-gallery .img8 {
    grid-area: img8;
    background-image: url("../images/img8.jpg");
}

#index-gallery .img9 {
    grid-area: img9;
    background-image: url("../images/img9.jpg");
}

#index-gallery .img10 {
    grid-area: img10;
    background-image: url("../images/img10.jpg");
}

/*Gallerx image titles*/
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gallery-img a {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
   color: white;
   text-decoration: none;
   text-transform: uppercase;

}
.gallery-img div:hover {
  
    opacity: 0.5;
    transition: all ease-in-out 100ms;
} 
.gallery-img h1{
    color:white;
}







    
    

    





